
.bg-light {
	background-color: #ffac56!important
}

.merah {
	background-color: grey !important;
	border-radius: 90px;
}

.bg {
	background-color: yellow;
}

.bg-color{
	background-color: grey;
	margin-top: 10px;
}