body, html {
    height: 100%;
    font-family: 'Roboto', 'sans-serif';
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
    font-family: "Indonesiana";
    src: url("font/indonesiana/indonesiana.eot"); /* IE9*/
    src: url("font/indonesiana/indonesiana.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/indonesiana/indonesiana.woff2") format("woff2"), /* chrome、firefox */
    url("font/indonesiana/indonesiana.woff") format("woff"), /* chrome、firefox */
    url("font/indonesiana/indonesiana.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("font/indonesiana/indonesiana.svg#FTF Indonesiana Serif Hijauwana") format("svg"); /* iOS 4.1- */
}

.parallax {
    /* The image used */
    background-image: url('../img/borobudur.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding-top: 18%;
}

.parallax2 {
    /* The image used */
    background-image: url('../img/budaya.jpg');

    /* Full height */
    height: 70%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding-top: 18%;
}


.parallax h1 {
    color: #fff;
    font-size: 120px;
    font-family: 'Indonesiana';
}

.parallax h2 {
    color: #fff;
    font-size: 30px;
}

.parallax a {
    font-size: 30px;   
}


.fitur {
    height:100%;
    background-color:#efefef;
    
}

.fitur p {
    margin-top: 20px;
    font-size: 20px;
}

.indonesiana {
    font-family: 'Indonesiana';
    font-size: 40px;
    color: #e05757;
}

.footer {
    height:30%;
    background-color: #3c3636;    
}

.teks {
    color: white;
    font-size: 39px;
}